#linux {
    position: fixed;
    display: none;
    vertical-align: top;
    top: 33%;
    background-color: #fff;
    width: 100vw;
    z-index: 1;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

#linux > * {
    width: 30%;
    display: table-cell;
    vertical-align: top;
    padding: 1em;
}

#linux > *:first-child {
    text-align: right;
}

#linux > *:last-child {
    text-align: left;
}

#linux .welcome {
    font-size: 1.5em;
    vertical-align: middle;
}


#login{
    float: right;
}

html,
body {
    height: 100%;
    color: #46637F;
    font-family: 'Cuprum', sans-serif;
    background: url("images/bg.jpg") fixed;
}

.text{
    padding: 20px;
    background-color: white;
}
.text .voprostop {
    background: url(images/border.gif) repeat-x;
    background-position: left bottom;
    height: 3px;
    margin-top:-23px;
    margin-left: -20px;
    width: 104%;
}
.text table{
    margin-top: 20px;

}
.text td{
    padding: 5px;
}

.roomfoot,
header {
   margin: auto;
    width: 80%;
    padding-top: 7px;

}
header .form-control{
    background-color: #B3BDD1;
    border: none;
    padding: 3px 6px;
    height: inherit;


}
header table{
    width: 100%;
    border-spacing: 4px;
}
header .head{
    width: 100%;
}
header a {
    color: #46637F;
}
#login{
    text-align: center;
    float: right;
    width: 36%;
}
.breadcrumb{
    border-radius: 25px;
    background: rgb(245,246,250);
    background: -moz-linear-gradient(top,  rgba(245,246,250,1) 0%, rgba(220,229,238,1) 98%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(245,246,250,1)), color-stop(98%,rgba(220,229,238,1)));
    background: -webkit-linear-gradient(top,  rgba(245,246,250,1) 0%,rgba(220,229,238,1) 98%);
    background: -o-linear-gradient(top,  rgba(245,246,250,1) 0%,rgba(220,229,238,1) 98%);
    background: -ms-linear-gradient(top,  rgba(245,246,250,1) 0%,rgba(220,229,238,1) 98%);
    background: linear-gradient(to bottom,  rgba(245,246,250,1) 0%,rgba(220,229,238,1) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6fa', endColorstr='#dce5ee',GradientType=0 );
    text-align: center;
    padding: 15px;
}
header .input-group .form-control:last-child{
    border-radius: 20px;
}
header .input-group{
    width: 100%;
}

.roomfoot table,

.roomfoot td,
header td{
}
.article.index .headcont,
.user.signup .headcont{
    display: none;
    height: 0;
}
.article.index header{
    display: none;
    height: 0;
}

.headcont{
    display: table;
    background-image: url("/images/headbg.jpg");
    background-size: cover ;
    height: 400px;
    width: 100%;
}
.gbuttons{
    display: table-cell;
    vertical-align: bottom;
    padding-left: 17%;
    width: 100%;
    text-shadow: rgb(255, 255, 255) 0px 0px 10px;
    background: -moz-linear-gradient(top,  rgba(30,87,153,0) 0%, rgba(19,56,98,0) 36%, rgba(0,0,0,0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,0)), color-stop(36%,rgba(19,56,98,0)), color-stop(100%,rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(19,56,98,0) 36%,rgba(0,0,0,0.8) 100%);
    background: -o-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(19,56,98,0) 36%,rgba(0,0,0,0.8) 100%);
    background: -ms-linear-gradient(top,  rgba(30,87,153,0) 0%,rgba(19,56,98,0) 36%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom,  rgba(30,87,153,0) 0%,rgba(19,56,98,0) 36%,rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001e5799', endColorstr='#cc000000',GradientType=0 );

}

.navbar {
    min-height: 0;
    margin: auto;
}




.hd {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    position: relative;
    margin-bottom: 4%;
    font-family: 'Cuprum', sans-serif;
    font-size: 3em;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: rgb(255, 255, 255) 2px 2px 0px, rgb(156, 156, 156) 4px 4px 0px;
}


.navbar-nav {
    display: inline-block;
    float: none;
}
.navbar-nav.nav{
    width: 100%;
}

a {
    color: rgba(75, 75, 75, 1);
}

table {
    background: transparent;
}

th {
    font-size: 1.3em;
}

h1 {
    font-size: 20pt;
    position: relative;


}
h1:before{

}

a:hover {
    color: rgb(100, 100, 100);
    text-decoration: none;
}

.form-control {
    background-color: rgba(43, 20, 49,0.2);
    color: black;
    border-radius: 0;

}

table td.id {
    width: 5em;
}

table .action {
    width: 5em;
}

.button {
    border: 1px solid white;
    font-size: 16pt;
    display: inline-block;
    text-transform: uppercase;
    color: white;
}
.user-update #w0,
.user-login #w0,
.user-create #w0,
.user-password #w0{
    display: inline-block;
    margin: auto;
}

.button.login {
    border: none;
    background-color: transparent;
    padding-left: 20px;
    text-transform: capitalize;

}

.button.login>a{
    vertical-align: middle;
    color: white;
    font-size: 2em;
    margin: 5px;
}
.button.signup {
    background-color: rgba(20,20,20,1);
}

.button.more {
    border: 1px solid black;
    background-color: transparent;


}

.button.more>a{
    vertical-align: middle;
    color: black;
    font-size: 10pt;
    margin: 5px;
}

.nav > li > a {
    vertical-align: middle;
    margin-top: 20px;
    margin-right: 15px;
    font-size: 20pt;
}


ul.navbar-nav > li > a:hover {
    color: black !important;
}

.navbar-nav > .active > a {
    background-color: #BB0188;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}
.active {
    background-color: #BB0188;
    color: white;
    border-radius: 20px;
    padding: 5px 10px;
}

.navbar > .container {
    background-color: transparent;
    width: 100%;
}

.income.index .grid-view {
    display: inline-block;

}

@media (min-width: 1024px){
    .node.index .right {
        display: inline-block;
        margin: auto;
    }
}
@media (max-width: 1230px) {
    .hideable {
        display: none !important;
    }
}

.navbar-default .navbar-nav > li > a {
    font-size: 1.2em;
    font-weight: bold;
    color: #46637F;
    padding: 0;
    margin: 0;
}
.navbar-default .navbar-nav > li {
    margin-left: 6%;
    margin-right: 6%;
    padding: 5px 10px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover{

    background: none;
    color: white ;
}

.navbar-default {
    border: none;
    background: rgba(0, 0, 0, 0.0);
    text-align: center;
}


.breadcrumb {
    background: rgba(54, 53, 36, 0.18) no-repeat center;
    overflow: visible;

}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    margin:auto;
    width: 80%;
}
#intro{
    background-image: url("images/pic_st.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 494px;
    width: 100%;
    text-align: left;
}
#question{
    width: 25%;
    float: left;
    padding: 10px;
    background-color: white;
    font-family: Georgia, Tahoma;
}
#question hr{
    margin-left: -10px;
    width: 107%;
}

#main-text hr{
    margin-left: -20px;
}
#question .input-group input,
#question textarea,
#question .input-group{
    width: 100%;
    background-color: #CCDDED;
    border-radius: 15px;
}
#question textarea{
    height: 150px;
}

#main-text{
    width: 70%;
    color: white;
    font-family: Georgia, Tahoma;
    padding: 0 20px;
    margin-left: 20px;
    float: left;
    background-color: #4C5E74;

}
#main-text td{
    background-image: url("images/mediaplan.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 60%;
}
#main-text th{
    width: 40%;
}
#question h1{
    font-size: 1.4em;
}
.main{
    display: inline-block;
    margin-bottom: 15px;
}
.voprostop {
    background: url(images/border.gif) repeat-x;
    background-position: left bottom;
    height: 3px;
    margin-top:-13px;
    margin-left: -10px;
    width: 107%;
}
.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td,
.table > tbody > tr > th
{
    border: 1px rgba(90, 90, 90, 0.35);
    padding: 6px;
}

.table > tbody > tr > td.danger {
    background-color: transparent;
    color: red;
}

.list-group-item {
    background-color: transparent;
    border: none;
}

.list-group-item:nth-child(odd) {
    background-color: #1e1e1e;
}


.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-weight: bold;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.table-striped > tbody > tr:nth-of-type(odd) {
}

.btn-default{
    background-color: #E2E6EE;
    border-radius: 20px;
    width: 86px;
    height: 28px;
    color: #46637f;
    padding: 3px;
}
.btn:hover{
    background-color: rgba(43,20,49,0.7);
}
.wrap > .container > div {
    width: 100%;

}

.wrap > .container > .alert,
.wrap > .container > .alert ~ div {
    margin-top: auto;
}
.alert-info{
    position: absolute;
}
.bagatelle{
    text-align: center;
}
.feedback-create{
    margin-top: 20px;
}
.feedback-form{
    padding: 20px;
}
.home-index th {
    text-align: center;
    text-transform: uppercase;
}


.index-row {
    background-color: rgb(255,255,255);
}

.index-row > div:first-child > img {
    width: 92%;
}

.index-row a {
    text-transform: uppercase;
    font-family: 'Cuprum', sans-serif;
    font-weight: bold;
}

#cover {
    width: 70%;
    margin-top: -10em;
}

.statistics {
    font-size:1.3em;
    font-family: 'Cuprum', sans-serif;
    margin: auto;
    display:inline;
}

.stat {
    padding: 20px;
    width: 100%;
    background-image: url("/images/turbobg.png");
    background-size: cover;

}

.statistics table {
    background-color: rgba(143,120,149, 0.6);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    text-align: center;
    margin: auto;
    width:70%;
}






.reinvest:before {
    content: '(реинвест)';
    color: green;
}

.count:before {
    content: 'к-во: ';
}

p {
    margin-bottom: 4px;
}

#matrix a {
    display: block;
}

.matrix {
    vertical-align: middle;
}

.matrix td {
    width: 20%;
}

.matrix .pagination {
    margin: 0;
}

#page-size a {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 2px;
    padding: 2px 6px;
}

.matrix .control {
    background-color: rgba(90,90,90, 0.6);
    border-radius: 6px;
    padding: 8px 10px 6px;
}

dt {
    margin-top: 1em;
    font-size: 1.2em;
    padding: 4mm 4mm 0;
    border-top-left-radius: 2mm;
    border-top-right-radius: 2mm;
}

dd {
    padding: 0 4mm 4mm;
    border-bottom-left-radius: 2mm;
    border-bottom-right-radius: 2mm;
}

dt, dd {
    background-color: rgba(90,90,90, 0.5);
}

.faq-index .contents {
    display: inline-block;
}

.faq-index .contents a {
    display: block;
}

.page {
    padding-top: 2em;
}

.page h1 {
    text-align: center;
}


@media (max-width: 1230px) {
    .index-row {
        display: block;
        width: 100%;
    }

    .index-row > div {
        display: block;

    }

    .index-row > div:first-child > img {
        margin: auto;
        display: block;
        width: 450px;
    }
}

@media (max-width: 980px) {
    .index-row .border {
        display: none;

    }
}

.invest > div:first-child {
    margin: 0 0 1em;
    padding: 20px;
    border-radius: 2mm;
}

.invest > div:first-child p {
    font-size: 1.5em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 1);
}
.invest > div:first-child h1 {
    text-align: center;
}

#linux {
    position: fixed;
    display: none;
    vertical-align: top;
    top: 33%; width: 100vw;
    z-index: 1;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    background-color: black;
    color: white;
    text-align: center;
    margin: auto;
    cursor: pointer;
}

#linux > * {
    width: 30%;
    display: table-cell;
    vertical-align: top;
    padding: 1em;
}

#linux > *:first-child { text-align: right; }

#linux > *:last-child { text-align: left; }

#linux .welcome {
    font-size: 1.5em;
    vertical-align: middle;
}

#developer {
    display: none;
}

.welcome {
    font-family: 'Cuprum', sans-serif;
    font-size: 3.5em;
    color: rgba(92, 189, 226, 0.7);
    margin-bottom: 10px;
}



.signature {
    text-align: center;
    display:table-cell;
    vertical-align: middle;
    width:30%;
}

.signature span:nth-child(2) {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
}

.signature span:nth-child(3) {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.5em;
    color: rgba(143, 120, 149, 0.6);
    font-weight: bold;
}

.signature span:nth-child(4) {
    font-family: 'Cuprum', sans-serif;
    font-size: 1.5em;
    color: rgba(255, 255, 255, 0.6);
    font-weight: bold;
}

.required label:after {
    content: ' *';
}
.logo{


}

label {
    font-weight: normal;
}
.user-update > h1,
.user-password > h1,
.stat > h1,
.article-view > h1,
.article-index > h1,
.feedback-index > h1,
.feedback-index > h1,
.cabinet-controls > h1 {
    text-align: center;
}
.control-label{
    color: green;
    font-weight: bold;
}
.user-update,
.user-password,
.faq-index,
.article-index,
.user-login,
.feedback-index,
.journal-index,
.type-index,
.gift-index,
.translation-index,
.archive-index,
.invoice-index,
.user-view {
    padding: 20px;
}
.regbg{
    background-image: url("/images/userbg.png");
    background-size: 100% 100%;
    padding-top: 40px;
    padding-bottom: 110px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.regbg form {
    text-align: left;
}

.regbg table{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}
.regtr{
    background-image: url("/images/regtextr.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
}
.regtc{
    background-image: url("/images/regtextc.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
}
.regf{
    width:20%;
}
.regpic{
    background-image: url("/images/regpic.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.welcome h1{
    color: green;
    text-align: center;
    text-transform: capitalize;
}
.welcome h1:before{
    position:absolute;
    top:0;
    left:35%;
    width:30%;
    height: 100%;
    margin: auto;
    border-bottom :3px solid grey;
    content:"";
}
#one{
    padding-left: 20px;
    background-size: cover;
    background: url("/images/one.png") no-repeat;
    min-height: 60px;
}
#two{
    padding-left: 20px;
    background-size: cover;
    background: url("/images/two.png") no-repeat;
    min-height: 60px;
}
#three{
    padding-left: 20px;
    background-size: cover;
    background: url("/images/three.png") no-repeat;
    min-height: 60px;
}
#four{
    padding-left: 20px;
    background-size: cover;
    background: url("/images/four.png") no-repeat;
    min-height: 60px;
}
#five{
    padding-left: 20px;
    background-size: cover;
    background: url("/images/five.png") no-repeat;
    min-height: 60px;
}

footer div {
    margin-top: 2mm;
    display: table-cell;
    vertical-align: middle;
    width:30%;
}

footer div:first-child img {
    margin-right: 4mm;
}

footer div:first-child a {
    color: white;
}
.paperbg{
    width: 100%;
    min-height: 500px;
    background-image: url("/images/paperbg.png");
    background-size: 100% 100%;
    padding: 3% 15%;
}
.skype{
    width:35px;
    height: 35px;
    background-image: url("/images/skype.png");
    background-size: 100% 100%;
    vertical-align: top;
    margin:auto;
}
#cssmenu li{
    list-style-type: none;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 15pt;
}
#cssmenu li:hover{
    background-color: rgba(0,0,0,0.1);
}
#cssmenu a{
    color: white;
}
.article-index.middle div{
    float: left;
    padding: 20px;
}
.roompic{
    background-image: url("/images/roompic.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
}
.user-create{

}
.regbg{
    background-image: url("/images/userbg.png");
    background-size: 100% 100%;
    padding-top: 40px;
    padding-bottom: 110px;
    width: 90%;
    margin: auto;
}
.regbg table{
    width: 100%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}
.regtr{
    background-image: url("/images/regtextr.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 10%;
}
.regtc{
    background-image: url("/images/regtextc.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 5%;
}
.regf{
    width:20%;
}
.regpic{
    background-image: url("/images/regpic.jpg");
    background-size: cover;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.welcome h1{
    color: green;
    text-align: center;
    text-transform: capitalize;
}
.welcome h1:before{
    position:absolute;
    top:0;
    left:35%;
    width:30%;
    height: 100%;
    margin: auto;
    border-bottom :3px solid grey;
    content:"";
}

#cssmenu {
    display: inline-block;
    vertical-align: top;
}

#cssmenu li{
    list-style-type: none;
    background-color: rgba(0,0,0,0.5);
    padding: 10px;
    margin: 10px;
    text-align: center;
    font-size: 15pt;
}

#cssmenu ul{
    width: 250px;
}

#cssmenu li:hover{
    background-color: rgba(0,0,0,0.1);
}
#cssmenu a{
    color: white;
}
#cssmenu a.btn{
    border: none;
    background: none;
}
.user-view > div{
    display: inline-block;
    width: auto;
}
.user.view header{
    display: none;

}
.user.view .headcont{
    display: none;

}

.node.open .container {
    text-align: center;
}

.node.open .container > * {
    text-align: left;
}

.node.open .node-create {
    display: inline-block;
    width: auto;
    margin: auto;
}

.archive-index > div {
    display: inline-block;
}

.user.password .container {
    text-align: center;
}

.user.password #cssmenu {
    float: left
}

.user.password .center {
    margin: auto;
}

.user.password .breadcrumb,
.user.password .center form {
    text-align: left;
}

.banners > .banner {
    display: inline-block;
    width: 768px;
}

.user-index > div {
    display: inline-block;
}
.foot{
    min-height: 100px;
    background-color: #4C5E74;
    text-align: center;
    color: white;
    margin-top: 10px;
    display: table;
    width: 100%;
}
.foot .breadcrumb{
    display: table-cell;
    background: none;
    margin-top: 20px;
    border-radius: 0;
    vertical-align: middle;
    width: 100%;

}
.foot .breadcrumb li{
    margin-left: 6%;
    margin-right: 6%;
}
.foot a{

    color: white;
    padding: 0;
}
#metrika{
    display: table-cell;
    vertical-align: middle;
}

@media (max-width: 1024px) {
    #main-text td {
        width: 0%;
    }
    #main-text th{
        width: 100%;
    }
}
@media (max-width: 800px) {
    #question {
        width: 100%;
        float: none;
    }
    #main-text{
        width: 100%;
        float: none;
        margin-left: 0;
    }
}
